img {
    width: 200px;
    height: auto;
    margin: 20px 0;
  }
  
  h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .nutrition-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .nutrition-info span {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .quantity-controls button {
    border: none;
    background-color: #eee;
    color: #555;
    font-size: 20px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .quantity-controls span {
    font-size: 24px;
    margin: 0 10px;
  }
  
  .confirm-button {
    background-color: #44c767;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirm-button:hover {
    background-color: #3fa25d;
  }
  