.ResetPassword {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.ResetPassword .main-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.ResetPassword .feedback {
  font-size: 0.75em;
  margin: 0 20px;
}
.ResetPassword .error {
  margin-left: 20px;
  color: red;
}

.ResetPassword .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999; /* set a high z-index value */
  max-width: 300px;
}

.ResetPassword .popup p {
  margin: 0 0 10px 0;
}

.ResetPassword .popup button {
  margin-top: 10px;
}
