.ResetPassword .feedback {
  font-size: 0.75em;
  margin: 0 20px;
}
.ResetPassword .error {
  margin-left: 20px;
  color: red;
}

.ResetPassword .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999; /* set a high z-index value */
}

.ResetPassword .popup p {
  margin: 0 0 10px 0;
}

.ResetPassword .popup button {
  margin-top: 10px;
}
