.ResetPassword .feedback {
  font-size: 0.75em;
  margin: 0 20px;
}
.ResetPassword .error {
  margin-left: 20px;
  color: red;
}

.ResetPassword .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.ResetPassword .popup p {
  margin: 0 0 10px 0;
}

.ResetPassword .popup button {
  margin-top: 10px;
}
