.RecipeList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .RecipeList h1 {
    text-align: center;
  }
  
  .Search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Utensils p {
    text-align: center;
  }