.Welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  }
  
.Welcome h1 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.Welcome h2 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.Welcome .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.Welcome .main-content p {
  width: 85%;
  text-align: center;
  margin: 20px 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.Welcome .main-content p u {
  text-decoration-style: dotted;
  text-decoration-color: rgb(245, 152, 59);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Welcome .main-content p mark {
  background-color: rgb(245, 152, 59);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Welcome .main-content h2 a {
  font-size: 18px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  display: block;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  background-color: #0074d9;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.Welcome .main-content h1 a {
  font-size: 18px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  display: block;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  background-color: #6158e0;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}