.Welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.Welcome h1 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.main-content p {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.main-content a {
  width: 100%;
  text-align: center;
  display: block;
  margin: 10px 0;
}
